@import "variables.css";

.box2 {
    background: linear-gradient(#293241,#FBFFF1);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgba(163, 159, 159, 0.5), rgba(0, 0, 0, 0)) 1;
    pointer-events: none;
    display: grid;
    grid-template-rows: 90px 300px 300px auto;
}