@import "variables.css";

.box2 {
  background: linear-gradient(#fbfff1, #293241);
  display: grid;
  grid-template-rows: 150px 80px 150px 80px 520px 80px auto;
}

.nombre h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 2rem;
  font-family: "Righteous", cursive;
  display: grid;
  justify-content: center;
  color: var(--color-primario);
}

.fulls {
  background-color: var(--color-primario);
  width: 700px;
  margin-top: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fulls h2 {
  font-family: "Play", sans-serif;
  color: var(--color-quinaria);
  text-align: start;
}

.perfil > p {
  text-align: justify;
  width: 700px;
  margin-left: 2rem;
  margin-top: 1rem;
  font-family: "Courgette", cursive;
}

.fulls2 {
  background-color: var(--color-primario);
  width: 700px;
  margin-top: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fulls2 > h2 {
  font-family: "Play", sans-serif;
  color: var(--color-quinaria);
  font-size: 30px;
  text-align: inherit;
  padding-top: 1rem;
}

.estudios {
  margin-top: 2rem;
}

.estudios > ol {
  width: 700px;
  margin-left: 7rem;
  margin-top: 1rem;
  font-family: "Courgette", cursive;
}

ul {
  margin-bottom: 1rem;
}

ul > li {
  margin-left: 3rem;
}

.estudios > h3 {
  font-family: "Play", sans-serif;
  margin-left: 2rem;
  font-size: 20px;
}

.estudios > h3 > span {
  padding-right: 2rem;
  color: var(--color-primario);
}

.fulls3 {
  background-color: var(--color-primario);
  width: 700px;
  margin-top: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fulls3 > h2 {
  font-family: "Play", sans-serif;
  color: var(--color-quinaria);
  font-size: 30px;
  text-align: inherit;
  padding-top: 1rem;
}

.experiencia {
  margin-top: 1rem;
}

.experiencia > ol {
  width: 700px;
  margin-left: 7rem;
  margin-top: 1rem;
  font-family: "Courgette", cursive;
}
